/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --white-color: #fff;
  --text-colored-blue: #6070ff;
  --body-background: #e5e5e5;
  --bg-color: #f7f7f9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: Poppins;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 1rem 0 1rem 0;
}

.logo {
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.container {
  width: 90%;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25rem;
  text-align: center;
  color: var(--text-colored-blue);
}

#contact {
  height: 700px;
  width: 100%;
}

#about {
  height: 2788px;
}

#portfolio {
  background: url('images/background-color.png');
  top: 0;
  left: 0;
  padding-bottom: 2rem;
  border-bottom-left-radius: 10%;
}

#portfolio .portfolio-header {
  width: 90%;
  padding-top: 8rem;
  margin: 0 auto;
}

.portfolio-desc {
  width: 90%;
  margin: 0 auto;
}

.primary_text {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.primary_text h3 {
  color: #7f8cff;
  font-size: 1rem;
}

.icons {
  width: 10rem;
  padding-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  nav ul {
    display: none;
  }

  .humberger-btn {
    color: var(--text-colored-blue);
  }

  .shapes {
    background: url('images/background-shape.png');
    background-repeat: no-repeat;
    padding-top: 100px;
    background-position-y: 100px;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
  }

  .shapes h2 {
    width: 327px;
    top: 114px;
    left: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .shapes .text-paragraph {
    width: 327px;
    height: 146px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about {
    position: absolute;
    width: 375px;
    left: 0;
    top: 718px;
    display: grid;
    grid-column: 4;
    place-items: center;
    padding: 114px 0;
  }

  .about .work-card {
    width: 327px;
    height: 552px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .about .work-card1 {
    width: 327px;
    height: 596px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .portfolio-image {
    width: 295px;
    height: 220px;
    background: url('images/work1.png');
    border-radius: 8px;
  }

  .portfolio-image1 {
    width: 295px;
    height: 220px;
    background: url('images/work2.png');
    border-radius: 8px;
  }

  .portfolio-image2 {
    width: 295px;
    height: 220px;
    background: url('images/work3.png');
    border-radius: 8px;
  }

  .portfolio-image3 {
    width: 295px;
    height: 220px;
    background: url('images/work4.png');
    border-radius: 8px;
  }

  .work-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 295px;
    height: 288px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .desc-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 295px;
    min-height: 80px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title {
    width: 295px;
    min-height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title1 {
    width: 295px;
    height: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .specialist {
    width: 256px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  .counter {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    border-radius: 50%;
  }

  .canopy {
    font-weight: 700;
    color: #344563;
    line-height: 16px;
    font-size: 14px;
    padding-right: 5px;
  }

  .role {
    width: 100px;
    height: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    padding-left: 5px;
  }

  .year {
    color: #7a869a;
    font-size: 13px;
  }

  .work-description p {
    width: 295px;
    height: 76px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  div .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    padding-top: 12px;
    width: 214px;
    height: 24px;
  }

  div .btn .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 57px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
  }

  div .btn .tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 49px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
  }

  div .btn .tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 92px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
  }

  .action {
    width: 295px;
    height: 72px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .project {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 176px;
    height: 48px;
    text-align: center;
    justify-content: center;
    left: 0;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .action .project:hover {
    background: #6070ff;
  }

  .project h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .project h1:hover {
    color: #fff;
  }

  #about-myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    position: absolute;
    width: 375px;
    height: 1062.15px;
    top: 3606px;
    border-top-right-radius: 10%;
    border: 1px solid #dfe1e6;
    background: #fff;
  }

  .about-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 327px;
    height: 346px;
  }

  .about-top .portfolio-header h2 {
    width: 327px;
    height: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .languanges {
    display: flex;
    padding-top: 60px;
  }

  .languanges img {
    padding-left: 180px;
  }

  .about-top .text-paragraph {
    width: 327px;
    height: 147px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .language-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    gap: 12px;
    width: 327px;
    height: 248.15px;
  }

  .language-list ul .languages {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .language-list ul .languages img {
    padding-left: 12px;
  }

  .language-list ul li span {
    height: 24px;
    left: 76px;
    right: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .framework ul {
    padding-top: 24px;
    width: 327px;
    height: 72px;
    display: flex;
    flex-direction: column;
  }

  .framework ul li {
    display: flex;
    gap: 12px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 303px;
    height: 66.72px;
    border-radius: 8px;
  }

  .framework ul li span {
    height: 24px;
    left: 12px;
    right: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .framework ul li .separator {
    display: block;
    width: 350px;
    height: 1px;
    background-color: #dff1e6;
  }
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    gap: 2rem;
    color: var(--text-colored-blue);
  }

  .humberger-btn {
    display: none;
  }
}
