/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --white-color: #fff;
  --text-colored-blue: #6070ff;
  --body-background: #e5e5e5;
  --bg-color: #f7f7f9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: Poppins;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 1rem 0 1rem 0;
}

.logo {
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
}

#portfolio {
  background: url('images/background-color.png');
  top: 0;
  left: 0;
  padding-bottom: 2rem;
  border-bottom-left-radius: 10%;
}

#portfolio .portfolio-header {
  width: 90%;
  padding-top: 8rem;
  margin: 0 auto;
}

.text-paragraph {
  padding-top: 30px;
}

.portfolio-desc {
  width: 90%;
  margin: 0 auto;
}

.primary_text {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.primary_text h3 {
  color: #7f8cff;
  font-size: 1rem;
}

.icons {
  width: 10rem;
  padding-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  #about {
    height: 2788px;
  }

  nav ul {
    display: none;
  }

  .humberger-btn {
    color: var(--text-colored-blue);
    padding: 10px;
  }

  .container {
    min-width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shapes {
    background: url('images/background-shape.png');
    background-repeat: no-repeat;
    padding-top: 100px;
    background-size: 100%;
    background-position-y: 100px;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
  }

  .shapes h2 {
    min-width: 327px;
    top: 114px;
    left: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .shapes .text-paragraph {
    min-width: 327px;
    height: 146px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .about {
    position: absolute;
    min-width: 375px;
    left: 0;
    top: 718px;
    display: grid;
    grid-column: 4;
    place-items: center;
    padding: 114px 0;
  }

  .about .work-card {
    min-width: 327px;
    height: 552px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .about .work-card1 {
    min-width: 327px;
    height: 596px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .portfolio-image {
    min-width: 295px;
    height: 220px;
    background: url('images/work1.png');
    border-radius: 8px;
    background-size: 100%;
  }

  .portfolio-image1 {
    min-width: 295px;
    height: 220px;
    background: url('images/work2.png');
    border-radius: 8px;
  }

  .portfolio-image2 {
    min-width: 295px;
    height: 220px;
    background: url('images/work3.png');
    border-radius: 8px;
  }

  .portfolio-image3 {
    min-width: 295px;
    height: 220px;
    background: url('images/work4.png');
    border-radius: 8px;
  }

  .work-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    min-width: 295px;
    height: 288px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .desc-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    min-width: 295px;
    min-height: 80px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title {
    min-width: 295px;
    min-height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .title1 {
    min-width: 295px;
    height: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .specialist {
    min-width: 256px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  .counter {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    border-radius: 50%;
  }

  .canopy {
    font-weight: 700;
    color: #344563;
    line-height: 16px;
    font-size: 14px;
    padding-right: 5px;
  }

  .role {
    min-width: 100px;
    height: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    padding-left: 5px;
  }

  .year {
    color: #7a869a;
    font-size: 13px;
  }

  .work-description p {
    min-width: 295px;
    height: 76px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  div .btn {
    float: left;
    padding: 0;
    padding-top: 12px;
    min-width: 320px;
    height: 24px;
  }

  div .btn .tag {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    min-width: 57px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
  }

  div .btn .tag2 {
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    min-width: 49px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
  }

  div .btn .tag3 {
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    min-width: 92px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
  }

  .action {
    min-width: 295px;
    height: 72px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .project {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    min-width: 176px;
    height: 48px;
    text-align: center;
    justify-content: center;
    left: 0;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .action .project:hover {
    background: #6070ff;
    color: #fff;
  }

  .action .project:active {
    background: #2230d2;
    color: #fff;
  }

  button:enabled {
    background: #fff;
  }

  .action .project:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .project h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .project h1:hover {
    color: #fff;
  }

  .action .project h1:enabled {
    color: #6070ff;
  }

  #about-myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    position: absolute;
    min-width: 375px;
    height: 1062.15px;
    top: 3606px;
    border-top-right-radius: 10%;
    border: 1px solid #dfe1e6;
    background: #fff;
  }

  .about-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    min-width: 327px;
    height: 346px;
  }

  .contact-form h2 {
    font-size: 40px;
    padding-bottom: 12px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    color: white;
    text-align: center;
  }

  .about-top .portfolio-header h2 {
    min-width: 327px;
    height: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .languanges {
    display: flex;
    padding-top: 60px;
  }

  .languanges img {
    padding-left: 180px;
  }

  .about-top .text-paragraph {
    min-width: 327px;
    height: 147px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .language-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    gap: 12px;
    width: 327px;
    height: 248.15px;
  }

  .language-list ul .languages {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .language-list ul .languages img {
    padding-left: 12px;
  }

  .language-list ul li span {
    height: 24px;
    left: 76px;
    right: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .framework ul {
    padding-top: 24px;
    width: 327px;
    height: 72px;
    display: flex;
    flex-direction: column;
  }

  .framework ul li {
    display: flex;
    gap: 12px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 303px;
    height: 66.72px;
    border-radius: 8px;
  }

  .framework ul li span {
    height: 24px;
    left: 12px;
    right: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .framework ul li .separator {
    display: block;
    width: 350px;
    height: 1px;
    background-color: #dff1e6;
  }

  #contact {
    position: relative;
    min-width: 425px;
    height: 779px;
    left: 0;
    top: 4100px;
    border-top-left-radius: 10%;
    background-color: #6070ff;
  }

  #contact .contact-shape {
    position: absolute;
    width: 425px;
    height: 779px;
    padding-left: 200px;
    background: url('images/contact-img.png') no-repeat center;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }

  .contact-description {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
  }

  .contact-description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  form {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 999;
  }

  form input {
    width: 90%;
    margin: auto;
    padding: 15px;
    line-height: 14px;
    border-radius: 8px;
    border: none;
  }

  form textarea {
    width: 90%;
    margin: auto;
    height: 130px;
    line-height: 14px;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
  }

  form textarea::placeholder {
    color: #b3bac5;
  }

  form input::placeholder {
    color: #172b4d;
  }

  form::after {
    content: '';
    width: 200px;
    height: 5px;
    background: black;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
    display: flex;
  }

  .humberger-btn {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 2rem;
  }

  #portfolio {
    padding-top: 110px;
  }

  .work-description p {
    width: 100%;
  }

  .shapes {
    width: 100%;
    background: url('images/Header\ bg@2x.png');
    background-size: 100%;
  }

  .shapes .portfolio-header {
    width: 100%;
    height: 112px;
    position: relative;
    margin: auto;
  }

  .shapes .portfolio-header h2 {
    position: absolute;
    top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
  }

  .portfolio-desc .text-paragraph {
    width: 91%;
    height: 80px;
    position: relative;
    float: left;
    margin: -20px 20px;
  }

  .shapes .text-paragraph p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .primary_text h3 {
    padding-left: 20px;
  }

  .primary_text .icons {
    padding-left: 20px;
  }

  #about {
    width: 100%;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 40px;
  }

  #about .work-card {
    width: 80%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  #about .work-card1 {
    width: 80%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "work-description portfolio-image1";
    gap: 50px;
  }

  .portfolio-image1 {
    grid-area: portfolio-image1;
  }

  .portfolio-image3 {
    grid-area: portfolio-image1;
  }

  #about .work-card .portfolio-image {
    background: url(images/work-desk1.png);
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #about .work-card1 .portfolio-image1 {
    background: url(images/work2.png);
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #about .work-card .portfolio-image2 {
    background: url(images/work4.png);
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #about .work-card1 .portfolio-image3 {
    background: url(images/work3.png);
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #about .work-card .work-description {
    width: 100%;
  }

  #about .work-card1 .work-description {
    width: 100%;
  }

  #about-myself {
    background: url('images/about-bg.png');
    top: 2706px;
    width: 100%;
  }

  .about-top {
    width: 90%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  form .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about-section .action {
    position: absolute;
    left: 48px;
    margin-top: 230px;
  }

  .about-my-self-position {
    position: absolute;
    left: 30px;
    padding-bottom: 40px;
  }

  .language-list {
    width: 100%;
    position: relative;
  }

  .language-list .icons-framework {
    position: absolute;
    margin-left: 92%;
  }

  .languages-title {
    width: 90%;
    display: flex;
  }

  .language-section {
    width: 80%;
  }

  .language-section .languages-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .language-list .languages-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .framework {
    width: 100%;
  }

  .language-list .languages-section .languages {
    width: 70%;
    height: 40%;
    display: block;
    text-align: center;
  }

  .languages span {
    display: flex;
    justify-content: center;
  }

  #contact {
    top: 2800px;
    width: 100%;
    background-image: url('images/contact-desktop.png');
    display: flex;
    justify-content: flex-end;
  }

  form {
    width: 50%;
    margin: auto;
  }

  form .project {
    position: absolute;
    width: 50%;
    margin: 130px;
  }
}
