/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --white-color: #fff;
  --text-colored-blue: #6070ff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  font-family: Poppins;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem;
}

header h1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25rem;
  text-align: center;
  color: var(--text-colored-blue);
}

#about,
#contact {
  height: 700px;
  width: 100%;
}

.portfolio-header {
  display: flex;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

#portfolio {
  margin: 4rem 0 0 0;
  width: 100%;
  background: url('images/portfolio.png') no-repeat;
}

#portfolio .portfolio-header {
  width: 90%;
  padding-top: 8rem;
  margin: 0 auto;
}

.portfolio-desc {
  width: 90%;
  margin: 0 auto;
}

.primary_text {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.primary_text h3 {
  color: #7f8cff;
  font-size: 1rem;
}

.icons {
  width: 10rem;
  padding-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  nav ul {
    display: none;
  }

  .humberger-btn {
    color: var(--text-colored-blue);
  }
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    gap: 2rem;
    color: var(--text-colored-blue);
  }

  .humberger-btn {
    display: none;
  }
}
